*
{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body
{
     font-size: 62.5%;
     background-color: rgb(231, 221, 202);
}


#footer
{
     text-align: center;
     font-size: 2em;
     background: #18AA8D;
     color:#eee;
}