@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i&display=swap&subset=cyrillic-ext,latin-ext');
 
body
{
     
}

.wrapper
{
    width: 80%;
    margin: 40px auto;
    background: #fff;
    overflow: hidden;

    h1
    {
        text-align: center;
        font-size: 35px;
        letter-spacing: 2px;
        padding: 15px;
        display: block;
        color: #6464C8;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }

    thead
    {
        background:#6464C8;
        color: #fff;
        
    }
    thead,tbody
    {
        font-size: 1.8em;
        text-align: center;
        justify-content: left;
    }
    thead:hover
    {
        font-size: 2em;
        cursor: pointer;
    }

    tbody tr:hover
    {
        background: rgba(47, 197, 47,.3);
    }
}



// Responsive design goes here

@media only screen and(max-width:600px)
{
    .wrapper
    {
        width: 100%;
        h1
        {
            font-size: 25px;
        }
        thead,tbody
        {
            font-size: 1em;
        }
    }
}